<!-- <div class="main-bill-div">
    <h1>Billing Details</h1>
    <h2>Order ID - #12356789</h2>
    <hr class="ruler">

    <h3 class="mb-0">Offers</h3>
    <div class="offers text-secondary d-flex justify-content-between mt-0">
        <h4>Select a promo code</h4>
        <button mat-stroked-button color="warn" class="view-offer-button">View Offers</button>
    </div>

    <div class="item-total text-secondary mt-2 d-flex justify-content-between">
        <h3>Item Total</h3>
        <h3>{{1600|currency:"INR":"symbol"}}</h3>
    </div>

    <div class="delivery-charge text-secondary mt-2 d-flex justify-content-between">
        <h3>Delivery Charge</h3>
        <h3>{{40|currency:"INR":"symbol"}}</h3>
    </div>

    <div class="grand-total text-secondary mt-2 d-flex justify-content-between">
        <h2>Grand Total</h2>
        <h2>{{1640|currency:"INR":"symbol"}}</h2>
    </div>

    <div class="address-button mt-2 d-flex justify-content-between">

        <div class="d-flex justify-content-center mt-4">
            <button mat-raised-button color="accent" class="location-button">Add Address Manually</button>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button mat-raised-button color="accent" class="location-button">Take Address Using Location</button>
        </div>
    </div>

</div> -->


<mat-card id="card" class="card mx-auto mt-5">
	<mat-card-title class="text-secondary">
		Billing Details
	</mat-card-title>

    <mat-card-subtitle class="text-secondary">
        <h2>Order ID - #12356789</h2>
        <hr class="ruler">
    </mat-card-subtitle>

	<mat-card-content>
        

        <div class="offers text-secondary d-flex justify-content-between mt-0">
            <h4>Select a promo code</h4>
            <button mat-stroked-button color="warn" class="view-offer-button">Apply 20% OFF</button>
        </div>
		
        <div class="item-total text-secondary mt-2 d-flex justify-content-between">
            <h3>Item Total</h3>
            <h3>{{1600|currency:"INR":"symbol"}}</h3>
        </div>
    
        <div class="delivery-charge text-secondary mt-2 d-flex justify-content-between">
            <h3>Delivery Charge</h3>
            <h3>{{40|currency:"INR":"symbol"}}</h3>
        </div>
    
        <div class="grand-total text-secondary mt-2 d-flex justify-content-between">
            <h2>Grand Total</h2>
            <h2>{{1640|currency:"INR":"symbol"}}</h2>
        </div>
    
        <div class="address-button mt-2 d-flex justify-content-between">
    
            <div class="d-flex justify-content-center mt-4 mr-1">
                <button mat-raised-button color="accent" class="location-button">Add Address Manually</button>
            </div>
    
            <div class="d-flex justify-content-center mt-4 mr-1">
                <button mat-raised-button color="accent" class="location-button">Take Address Using Location</button>
            </div>
        </div>

	</mat-card-content>
</mat-card>