<mat-card class="cart-details mx-auto mt-3 mb-3 text-secondary col-6">
    <!-- <h1 class="mt-5 mb-0 text-center">Cart Details</h1>
    <h3 class="text-secondary text-center mt-0">2 Items</h3> -->
    <mat-card-title class="text-secondary text-center mt-5 mb-0">
        Cart Details
    </mat-card-title>
<ng-container *ngIf='cartItems!=undefined'>
    <mat-card-subtitle class="text-secondary text-center mt-0">
        <h2>{{cartItems.length}} Item{{cartItems.length>1?'s':''}}</h2>
        <hr class="ruler">
    </mat-card-subtitle>

    <mat-card-content>
        <div>
            <ng-container *ngFor='let cartItem of cartItems'>
            <app-view-cart-item [foodItem]='foodItemOfId(cartItem.foodId)' [cartItem]='cartItem' ></app-view-cart-item>
        </ng-container>
            <!-- <app-view-cart-item></app-view-cart-item>
            <app-view-cart-item></app-view-cart-item> -->

            <hr class="ruler text-secondary mt-5 mb-1">

            <div class="total text-secondary mt-3 justify-content-between d-flex">
                <div class="total-1 col-8">
                    <h3 class="mb-0"><b>Subtotal</b></h3>
                    <h5 class="mt-0">Extra Charges may apply</h5>
                </div>

                <div class="total-2 col-4 text-right">
                    <h3><b>{{getSubTotal()|currency:"INR":"symbol"}}</b></h3>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button mat-raised-button color="accent" class="checkout-button">CHECKOUT
                    -></button>
            </div>
        </div>
    </mat-card-content>
</ng-container>
</mat-card>